h1, h2, h3{

    margin: 0;

}

.main {

    background-color: blanchedalmond;

    background-image: url('../../assets/background/background_house.png');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 30px;

}

.main_error {
    padding-bottom: 90px;
}

.main__grid {

    max-width: 1200px;
    height: 500px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 400px 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 60px;
    
}

.main__forms{

    max-width: 400px;
    padding: 30px;
    grid-row: 1 / -1;
    align-self: start;
    background-color: white;
    border-radius: 10px;

}

.main__list {

    padding-top: 20px;
    margin: 0;
    color: white;
    text-align: start;

}

.main__text {

    margin: 0;
    color: white;
    text-align: center;

}

.main__text h1 {

    font-family: 'Piazzolla', serif;
    font-size: 60px;
    padding-top: 80px;
    font-weight: 500;

}

.main__text h2 {

    font-size: 18px;
    margin: 20px 0 40px 0;
    font-weight: 400;

}

@media only screen and (min-width: 767px) and (max-width: 1250px) {

    .main__grid{

        max-width: 700px;
        height: fit-content;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr 1fr;

    }

    .main__forms{

        max-width: 400px;
        margin-bottom: 40px;
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        justify-self: center;
        align-self: start;
    
    }

    .main__text h1 {

        font-size: 40px;
    
    }

    .main_error {
        padding: 0;
    }

    .main__list {

        padding: 20px;
        height: 200px;
    
    }

}

@media only screen and (max-width: 767px) {

    .main__grid{

        display: block;
        height: fit-content;
        max-width: 400px;
        margin: 0 auto;
        padding-bottom: 30px;

    }

    .main__forms{

        transform: scale(0.8);
        margin: 0 auto;
    
    }

    .main__text h1 {
        
        font-size: 40px;
        margin: 0 20px;
        padding-top: 50px;
    
    }

    .main__text h2 {
        
        margin: 0 20px;
        padding-top: 20px;
    
    }

    .main__list {

        padding: 20px;
    
    }

    .main_error {
        padding: 0;
    }

}