.list__heading, .list__description {

    text-align: start;

}

.list__heading{

    margin-top: 14px;
    font-size: 20px;
    
}

.list__description{

    font-size: 14px;
    font-weight: 400;

}

.list_icon{

    width: 50px;
    filter: invert(59%) sepia(93%) saturate(600%) hue-rotate(15deg) brightness(90%) contrast(103%);

}