.listItem img {

    width: 50px;

}

.list__heading, .list__description {

    text-align: start;

}

.list__heading{

    font-size: 20px;
    
}

.list__description{

    font-size: 14px;
    font-weight: 400;

}