.wrapper {

    max-width: 1200px;
    margin: 0 auto;
    height: 110px;
    display: flex;
    align-items: center;
    flex-direction: row;

}

.header__logo {

    margin-right: 30px;

}

.header__logoimg {

    height: 100px;
    width: 100px;

}

.header__description {

    height: fit-content;
    margin: 0;
    justify-self: center;
    flex-grow: 1;

}

.header__description h2 {

    font-size: 20px;

}

.header__description h3 {

    font-size: 16px;
    color: rgb(0, 72, 207);

}

.header__contacts {

    height: fit-content;
    margin-right: 30px;

}

.header__contacts h2 {

    font-size: 16px;
    margin-bottom: 10px;

}

.contacs_icons {

    display: flex;
    justify-content: space-between;

}

.contacs_icons a {

    width: 25px;

}

.contacs_icons img {

    width: 100%;

}

.header__login{
    text-decoration: none;
}

.down_arrow{
    cursor: pointer;
    width: 30px;
    height: 30px;
    padding: 5px;
    display: none;
    border: none;
    background-color: transparent;
}

.down_arrow.active img{
    transform: rotate(-180deg);
}

.down_arrow img{

    width: 100%;
    transition: all 0.3s;

}

.mobile{

    display: none;

}

@media only screen and (min-width: 767px) and (max-width: 1250px) {

    .wrapper {

        max-width: 700px;
    
    }

    .mobile{

        display: none;

    }

}

@media only screen and (max-width: 767px) {

    .wrapper {

        height: 90px;
        max-width: 600px;
        justify-content: space-between;
    
    }

    .header__logo {

        margin-left: 15px;
    
    }

    .header__logoimg {

        height: 80px;
        width: 80px;
    
    }

    .down_arrow {

        display: block;
        margin-right: 30px;

    }

    .header__logo {

        margin-right: 0;
    
    }

    .header__description h2 {

        font-size: 18px;

    }

    .header__description h3 {

        display: none;

    }

    .header__contacts {

        display: none;
    
    }

    .header__login{

        display: none;

    }

    .mobile{

        display: block;
        text-align: center;
        max-height: 0px;
        transition: all 0.3s;
        overflow: hidden;
        position: relative;
        padding: 0px;
    
    }
    
    .mobile.active{
    
        max-height: 400px;
    
    }
    
    .mobile::before{
    
        position: absolute;
        content: '';
        width: 80%;
        height: 2px;
        background-color: black;
        top: 0%;
        left: 10%;
    
    }
    
    .mobile__description {
    
        padding: 20px;
        position: relative;
        height: fit-content;
    
    }
    
    .mobile__description::after {
    
        position: absolute;
        content: '';
        width: 80%;
        height: 1px;
        top: 100%;
        left: 10%;
        background-color: black;
    
    }
    
    .mobile__description h2 {
    
        font-size: 20px;
        margin-bottom: 10px;
    
    }
    
    .mobile__description h3 {
    
        font-size: 16px;
        color: rgb(0, 72, 207);
    
    }

    .mobile__contacts_wrapper {

        position: relative;

    }

    .mobile__contacts_wrapper::after {

        position: absolute;
        content: '';
        width: 80%;
        height: 1px;
        top: 100%;
        left: 10%;
        background-color: black;

    }
    
    .mobile__contacts {
    
        width: fit-content;
        margin: 0 auto;
        height: fit-content;
        padding: 20px;
    
    }

    .mobile__contacts h2 {
    
        font-size: 18px;
        font-weight: 600;
    
    }
    
    .mobile__contacts h3 {
    
        font-size: 16px;
        margin-bottom: 10px;
        margin-top: 15px;
    
    }
    
    .mobile__login{
        display: block;
        text-decoration: none;
        padding: 20px;
    }

}