.header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

}

.header__logoimg {

    width: 100px;

}

.header__description {

    margin: 0;
    justify-self: start;

}